<div style="text-align: center">
  <h1>
    Welcome to{{title}}
  </h1>
  <div class="card-deck">
    <div class="card-border-primary">
      <div class="card-body">
        <h3 class="card-title">ASP .NET Core MVC</h3>
        <p class="card-text">เรียนรู้การใช้งาน ASP.NET Core MVC ด้วยภาษา C#</p>
        <a href="#" class="btn btn-info">อ่านต่อ</a>
      </div>
    </div>
    <div class="card-border-primary">
      <div class="card-body">
        <h3 class="card-title">Basic WEB API</h3>
        <p class="card-text">ศึกษาการสร้าง WEB API แบบใช้งานได้จริง</p>
        <a href="#" class="btn btn-info">อ่านต่อ</a>
      </div>
    </div>
      <div class="card-border-primary">
        <div class="card-body">
          <h3 class="card-title">ASP .NET Core Blazor</h3>
          <p class="card-text">พัฒนา Web Assembly โดยอาศัยภาษา C#</p>
          <a href="#" class="btn btn-info">อ่านต่อ</a>
        </div>
      </div>
  </div>
</div>
